@{
    ViewData["Title"] = "Comprar ";
}
<head>
    <link href="/Comprar.css" rel="stylesheet"/>
</head>
    <body style="background-color: black;"></body>
    </div>
<section id="highlights" class="wrapper style3">
					<div style="float: center;" class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium;">
								<section class="highlight">
									<a href="#" class="image featured"><img  id="pic1" src="https://www.diariomotor.com/imagenes/picscache/1440x655c/bmw-m3-e46-gtr-p_1440x655c.jpg" alt=""/></a>
									<br>
									<h3 style="text-align: center ;"><a href="#">BMW M3 GTR</a></h3>
									<br>
									<br>
                                    <a href="bmw" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Información
   									 </a>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img width="300" height="200" id ="pic2" src="https://media.graphassets.com/MlGppR47SHWfRep5LfnH	" alt=""/></a>
									<h3 style="text-align: center ;"><a href="#">Lamborghini Aventador</a></h3>
									<br>
                                     <a href="Lambo" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Información
   									 </a>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="" class="image featured"><img width="225" height="175" id ="pic3" src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2021/11/rivales-porsche-718-cayman-gt4-rs-2540791.jpg?itok=Vj2aFZ-b" alt=""/></a>
									<h3 style="text-align: center ;"><a href="#">Porche Cayman 718 GT4 </a></h3>
									<br>
                                    <a href="porche" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Información
   									 </a>
								</section>
							</div>
						</div>
					</div>
				</section>


