@{
    ViewData["Title"] = "Reservar";
}
<head>
    <link href="/Comprar.css" rel="stylesheet"/>
</head>
    <body style="background-color:#571aa5;"></body>
    </div>
<section id="highlights" class="wrapper style3">
					<div style="float: center;" class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium;">
								<section class="highlight">
									<a href="#" class="image featured"><img  id="pic1" src="https://www.hotelplayamazatlan.com/wp-content/uploads/2020/04/Habitaci%C3%B3n-De-Lujo-con-cama-king-size-Hotel-Playa-Mazatl%C3%A1n.jpg" alt=""/></a>
									<br>
									<h3 style="text-align: center ;"><a href="#">Habitación Sencilla</a></h3>
									<br>
									<br>
                                    <a href="bmw" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Reservalo !!
   									 </a>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img width="300" height="200" id ="pic2" src=" https://images.e-tsw.com/_lib/b2b2c-sites/amr/dreamsmx/img/resorts/playa-mujeres/accommodations/junior-suite-vista-parcial-al-mar.jpg " alt=""/></a>
									<h3 style="text-align: center ;"><a href="#">JUNIOR SUITE VISTA OCÉANO</a></h3>
									<br>
                                     <a href="Lambo" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Reservalo !!
   									 </a>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="" class="image featured"><img width="225" height="175" id ="pic3" src="https://images.e-tsw.com/_lib/b2b2c-sites/amr/dreamsmx/img/resorts/playa-mujeres/accommodations/Preferred-Club-Master-Suite-con-piscina-privada-y-frente-al-mar.jpg" alt=""/></a>
									<h3 style="text-align: center ;"><a href="#">CLUB MASTER SUITE </a></h3>
									<br>
                                    <a href="porche" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Reservalo !!
   									 </a>
								</section>
							</div>
						</div>
					</div>
				</section>


