
span[b-dh527zik8l] {
    text-align: center;
  }
  
  h2[b-dh527zik8l]{
    text-align: center;
    color: white;
  }
  div[b-dh527zik8l]{
    text-align: center;
  }
  h1[b-dh527zik8l]{
    text-align: left;
    color: white;
  }
  h4[b-dh527zik8l]{
    color: white;
  }
  h3[b-dh527zik8l]{
    color: white;
    text-align: center;
  }
  p[b-dh527zik8l]{
    color: white;
    text-align:justify;
  }
  