@{
    ViewData["Title"] = "Island_Resort";
}
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"></script>
<div  class="text-center">
<head>
    <link href="/css/estilos.css" rel="stylesheet"/>
</head>
    <body style="background-color:#1C2833 ;">
      <video style="" src="images/backGround.mp4" autoplay loop muted>
      </video>
      <!--Titulo -->
	  <br>
	<div style="text-align: center"><a href="Comprar" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Reservar
   									 </a></div>
    <br>
    <br>
      <br>
    <i style="color:#faed27 ;"><h4>"EL MEJOR LUGAR PARA VACACIONAR"</i></h4>
<!--Carrusel -->
    <div class="container">
  <ul class="slider">
    <li id="slide-1">
<img src="https://www.hotelplayamazatlan.com/wp-content/uploads/2020/04/Habitaci%C3%B3n-De-Lujo-con-cama-king-size-Hotel-Playa-Mazatl%C3%A1n.jpg" alt=""/>
    <li id="slide-2">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/05/7d/da/14/hotel-playa-mazatlan.jpg"/>
    </li>
    <li id="slide-3">
        <img src="https://images.e-tsw.com/_lib/b2b2c-sites/amr/scretsmx/img/resorts/playa-mujeres/accommodations/slider/0.jpg?v=1"/>
    </li>
	<li id="slide-4">
        <img src="https://www.eluniversal.com.mx/sites/default/files/2019/04/17/hotel_san_gabriel_de_las_palmas.jpg"/>
    </li>
	<li id="slide-5">
        <img src="https://technocio.com/wp-content/uploads/2021/04/PV-hotel-Westin.jpg"/>
    </li>
  </ul> 
  <ul class="menu">
    <li>
      <a href="#slide-1"></a>
    </li>
    <li>
      <a href="#slide-2"></a>
    </li>
     <li>
      <a href="#slide-3"></a>
    </li>
	<li>
      <a href="#slide-4"></a>
    </li>
	 <li>
      <a href="#slide-5"></a>
    </li>
  </ul>
  <!--Pequeña galeria para proceder a comprar -->
 <span class="iconify" data-icon="line-md:arrow-up-circle" style="color: white;" data-width="50" data-height="50"></span>
  <h2 style="color: white;">Da click para ver la galería de fotos. <h2>
</div>
<section id="highlights" class="wrapper style3">
					<div class="title" style="color: white;"><h2>¡Las mejores experiencias solo las vives en Island Resort!</h2></div>
				</section>
				<a href="Comprar" class="btn-neon">
        							<span id="span1"></span>
        							<span id="span2"></span>
        							<span id="span3"></span>
        							<span id="span4"></span>
       									 Mejores Habitaciones
   									 </a>	
    </body>

