@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1 style="color: yellow;">@ViewData["Title"]</h1>

<p style="color: white;">Este apartado puedes revisar la seguridad de nuestra página y sentirte cómodo navegando.</p>
<body style="background-color: black ;"></body>