@{
    ViewData["Title"] = "Términos y condiciones";
}
<h1 style="color: yellow;">@ViewData["Title"]</h1>

<p style="color: white;">En este archivo puedes visualizar los términos y condiciones que debes aceptar. </p>
<body style="background-color: black ;"></body>