
span[b-xs69cf5qbr] {
  text-align: center;
}

h2[b-xs69cf5qbr]{
  text-align: center;
  color: white;
}
div[b-xs69cf5qbr]{
  text-align: center;
}
h1[b-xs69cf5qbr]{
  text-align: left;
  color: white;
}
h4[b-xs69cf5qbr]{
  color: white;
}
h3[b-xs69cf5qbr]{
  color: white;
  text-align: center;
}
p[b-xs69cf5qbr]{
  color: white;
  text-align:justify;
}

