@{
        ViewData["Title"] = "Comprar ";
}
    <link href="index.css" rel="stylesheet"/>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
        <body style="background-color: Black;">
                 <a href="#" class="image featured"><img  id="pic1" src="https://images.e-tsw.com/_lib/b2b2c-sites/amr/dreamsmx/img/resorts/playa-mujeres/accommodations/Preferred-Club-Master-Suite-con-piscina-privada-y-frente-al-mar.jpg" alt=""/></a>
                    <div><span class="iconify" data-icon="line-md:chevron-double-up" style="color: white;" data-width="70" data-height="70"></span></div>
                    <h2 style="color: white;">¿Te gustaría reservar esta habitación?</h2>
                    
         </body>