
span {
  text-align: center;
}

h2{
  text-align: center;
  color: white;
}
div{
  text-align: center;
}
h1{
  text-align: left;
  color: white;
}
h4{
  color: white;
}
h3{
  color: white;
  text-align: center;
}
p{
  color: white;
  text-align:justify;
}

